# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-code files
*.pyc
__pycache__/
*.pyd
*.egg

/Lib
/Scripts
/Include

# Virtual environment
venv/
.venv/
env/
.env/
.env

# Editor/IDE files
.vscode/
.idea/
*.swp
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Miscellaneous
.python-version